* {
  font-family: "Source Sans Pro", "Roboto", Arial, Helvetica, sans-serif;
}
html {
  box-sizing: border-box;
}

body {
  background-color: #ecf1f1;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17pt;
  font-weight: 300;
  line-height: 1.5em;
  color: #888;
  display: none;
}
img {
  display: block;
  width: 100%;
}
.portfolio {
  background-color: #f2f7f7;
  padding-top: 3em;
  padding-bottom: 3em;
  -webkit-box-shadow: 0px 0px 15px -8px #999;
  -moz-box-shadow: 0px 0px 15px -8px #999;
  box-shadow: 0px 0px 15px -8px #999;
}

.descargas {
  padding-top: 3em;
  padding-bottom: 3em;
}

footer {
  background-color: #e7eceb !important;
  -webkit-box-shadow: 0 -10px 10px -6px #999;
  -moz-box-shadow: 0 -10px 10px -6px #999;
  box-shadow: 0 -10px 10px -6px #999;
}

main {
  padding-top: 2em;
  padding-bottom: 2em;
}

p,
ul,
ol,
dl,
table {
  margin-bottom: 2em;
  box-sizing: inherit;
  font: inherit;
  vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: #666;
  line-height: 1.5em;
}

h2 {
  font-size: 2em;
  letter-spacing: 0;
  font-weight: 300;
  color: #666;
  line-height: 1.5em;
}

.card {
  margin-bottom: 0.5em;
  padding: 0.5em;
}
.card:hover {
  -webkit-box-shadow: 10px 10px 57px -20px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 10px 10px 57px -20px rgba(0, 0, 0, 0.58);
  box-shadow: 10px 10px 57px -20px rgba(0, 0, 0, 0.58);
  transition: box-shadow 0.3s ease-in-out;
}

.navbar {
  -webkit-box-shadow: 0 10px 10px -6px #999;
  -moz-box-shadow: 0 10px 10px -6px #999;
  box-shadow: 0 10px 10px -6px #999;
  font-size: 12pt;
  font-weight: 100;
  line-height: 1.5em;
}

.dropdown-menu {
  background-color: #343a40 !important;
}
.dropdown-item {
  -webkit-text-fill-color: aliceblue !important;
}
.dropdown-item:hover {
  background-color: #626d79 !important;
}
.imageGuada {
  display: block;
  width: 100%;
  margin: 2em 0 2em 0 !important;
}

#message {
  resize: none;
  min-height: 10em;
  max-height: 15em;
}
#copyright {
  font-size: 12pt;
  font-weight: 100;
  line-height: 1.5em;
}

.loader-page {
  position: fixed;
  z-index: 25000;
  background: rgb(255, 255, 255);
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.loader-page::before {
  content: "";
  position: absolute;
  border: 2px solid rgb(50, 150, 176);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  border-left: 2px solid rgba(50, 150, 176, 0);
  border-top: 2px solid rgba(50, 150, 176, 0);
  animation: rotarload 1s linear infinite;
  transform: rotate(0deg);
}
@keyframes rotarload {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-page::after {
  content: "";
  position: absolute;
  border: 2px solid rgba(50, 150, 176, 0.5);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  border-left: 2px solid rgba(50, 150, 176, 0);
  border-top: 2px solid rgba(50, 150, 176, 0);
  animation: rotarload 1s ease-out infinite;
  transform: rotate(0deg);
}

.gallery-title {
  font-size: 36px;
  color: #666;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
  text-decoration: none;
}
.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
}
.filter-button {
  font-size: 18px;
  border: 1px solid #666;
  border-radius: 5px;
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}
.filter-button:hover {
  font-size: 18px;
  border: 1px solid #666;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #666;
}
.btn-default:active .filter-button:active {
  background-color: #666;
  color: white;
}

.port-image {
  width: 100%;
}

.gallery_product {
  margin-bottom: 30px;
}

.img-responsive:hover {
  -webkit-box-shadow: 10px 10px 57px -20px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 10px 10px 57px -20px rgba(0, 0, 0, 0.58);
  box-shadow: 10px 10px 57px -20px rgba(0, 0, 0, 0.58);
  transition: box-shadow 0.3s ease-in-out;
}

/*//////////////////////////////////////////////////////////////////
[ Background ]*/
.bg0 {
  background-color: #fff;
}

/*---------------------------------------------*/
.bg-g1 {
  background: -webkit-linear-gradient(bottom, #f77062, #fe5196);
  background: -o-linear-gradient(bottom, #f77062, #fe5196);
  background: -moz-linear-gradient(bottom, #f77062, #fe5196);
  background: linear-gradient(bottom, #f77062, #fe5196);
}
