* {
  font-family: Arial, Helvetica, sans-serif;
}
footer {
  -webkit-box-shadow: 0 -10px 10px -6px #999;
  -moz-box-shadow: 0 -10px 10px -6px #999;
  box-shadow: 0 -10px 10px -6px #999;
}

main {
  padding-top: 2em;
  padding-bottom: 2em;
}

.navbar {
  -webkit-box-shadow: 0 10px 10px -6px #999;
  -moz-box-shadow: 0 10px 10px -6px #999;
  box-shadow: 0 10px 10px -6px #999;
}

.dropdown-menu {
  background-color: #343a40 !important;
}
.dropdown-item {
  -webkit-text-fill-color: aliceblue !important;
}
.dropdown-item:hover {
  background-color: #626d79 !important;
}

#textAreaContacto {
  min-height: 15em;
  max-height: 20em;
}
